[alias]
	co = checkout
	ci = commit
	st = status
	hist = log -500 --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	sst = submodule foreach git st -s
	sstb = submodule foreach git st -s -b

[user]
	name = Patryk Osmaczko
	email = osmaczkopatryk@gmail.com

[help]
	htmlpath = http://git-scm.com/docs


[core]
	pager = less -x1,5
