[alias]
	co = checkout
	ci = commit
	st = status
	hist = log -500 --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	sst = submodule foreach git st -s
	sstb = submodule foreach git st -s -b
	sf = submodule foreach git fetch
	sp = submodule foreach git pull

[user]
	name = Patryk Osmaczko
	email = patryk.osmaczko@globallogic.com

[help]
	htmlpath = http://git-scm.com/docs

[core]
	pager = less -x1,5

[merge]
    tool = meld

[diff]
    tool = meld
[gitflow "branch"]
	master = master
	develop = develop
[gitflow "prefix"]
	feature = feature/
	bugfix = fix/
	release = release/
	hotfix = hotfix/
	support = support/
	versiontag = 
[gitflow "path"]
	hooks = /media/patrykosmaczko/Data/esigma/EsicAppBundle/.git/hooks
